/node_modules
/public/storage
/vendor
/public/css/app.css
ppublic/css/cms.css
public/js/app.js
public/js/vue.js
/.idea
Homestead.json
Homestead.yaml
.env

/resources/assets/js/app.js
/public/js/app.js
/public/js/vue.js
/public/manifest.json